@import url(../css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-collapse {
    flex-grow: 0 !important;
}

.btn{
    padding: 11px 28px !important;
    border-radius: 23px !important;
    border: none;
}

@media (max-width:576px) {
    .font-size-36{
        font-size: 23px;
    }

    .header-img{
        max-width: 70px;
    }
}